Repository SpicyKimChoi/Clip, pull requests merged in 2021-01, with the labels that each got.

#3 Add/server init
  server/.gitignore
  server/README.md
  server/devlog/2021-01-10.md
  server/package-lock.json
  server/package.json
  server/src/entity/User.ts
  server/src/index.ts
  server/tsconfig.json
Labels: C:4h, add, server

#5 Add/type orm 데이터베이스 마이그레이션
  server/.DS_Store
  server/devlog/2021-01-10.md
  server/src/entity/Assignee.ts
  server/src/entity/Base.ts
  server/src/entity/Clips.ts
  server/src/entity/Comments.ts
  server/src/entity/Labels.ts
  server/src/entity/Likes.ts
  server/src/entity/ProjectPermissons.ts
  server/src/entity/Projects.ts
  server/src/entity/Sections.ts
  server/src/entity/TaskLabel.ts
  server/src/entity/Tasks.ts
  server/src/entity/User.ts
  server/src/entity/Users.ts
  server/src/index.ts
Labels: C:4h, add, server

#7 Add/회원가입_API_추가
  server/.DS_Store
  server/devlog/2021-01-11.md
  server/package-lock.json
  server/package.json
  server/src/controllers/users/index.ts
  server/src/controllers/users/signup.ts
  server/src/controllers/utils/errors/usersControllerErrors.ts
  server/src/entity/Users.ts
  server/src/index.ts
  server/src/routes/users.ts
Labels: C:2h, add, server

#9 Add/회원가입 api testcase 추가
  server/.gitignore
  server/devlog/.DS_Store
  server/devlog/2021-01-12.md
  server/ormconfig.ts
  server/package-lock.json
  server/package.json
  server/src/__tests__/controllers/signup.test.ts
  server/src/controllers/users/signup.ts
  server/src/index.ts
Labels: C:4h, add, server

#13 :tada: [Add] 개인북마크 레이아웃설정
  client/.eslintcache
  client/package-lock.json
  client/package.json
  client/src/App.tsx
  client/src/components/GlobalStyle.ts
  client/src/components/pages/App.tsx
  client/src/components/templates/PrivateLink.tsx
  client/src/index.tsx
Labels: add

#20 Add/로그인 api
  server/devlog/2021-01-15.md
  server/package-lock.json
  server/package.json
  server/src/__tests__/controllers/signin.test.ts
  server/src/controllers/users/index.ts
  server/src/controllers/users/signin.ts
  server/src/controllers/utils/errors/usersControllerErrors.ts
  server/src/routes/users.ts
Labels: C:4h, add, server

#21 Add/회원탈퇴 api
  server/.DS_Store
  server/devlog/.Rhistory
  server/devlog/2021-01-16.md
  server/package-lock.json
  server/package.json
  server/src/controllers/users/index.ts
  server/src/controllers/users/signout.ts
  server/src/controllers/users/withdrawal.ts
  server/src/controllers/utils/errors/usersControllerErrors.ts
  server/src/index.ts
  server/src/routes/users.ts
Labels: C:4h, add, server

#28 :triangular_flag_on_post: [Add] 구글로그인
  client/.eslintcache
  client/.gitignore
  client/package-lock.json
  client/package.json
  client/src/components/atoms/LoginGoogle.tsx
  client/src/components/pages/App.tsx
  client/src/components/templates/PrivateClip.tsx
  client/src/index.tsx
Labels: E: 2h, add, client

#29 Add/docker database
  server/.DS_Store
  server/.dockerignore
  server/.gitignore
  server/Dockerfile
  server/devlog/.DS_Store
  server/devlog/.Rhistory
  server/devlog/2021-01-19.md
  server/devlog/2021-01-20.md
  server/devlog/2021-01-21.md
  server/ormconfig.ts
  server/src/__tests__/controllers/signin.test.ts
  server/src/__tests__/controllers/signup.test.ts
Labels: C:4d, add, server

#30 Fix/소셜로그인변경
  server/devlog/2021-01-21.md
  server/src/__tests__/controllers/signup.test.ts
  server/src/controllers/users/index.ts
  server/src/controllers/users/signin.ts
  server/src/controllers/users/signup.ts
  server/src/routes/users.ts
Labels: C:2h, fix, server

#32 Add/프로젝트 생성 API 작성
  server/devlog/2021-01-23.md
  server/src/controllers/clips/create.ts
  server/src/controllers/clips/index.ts
  server/src/controllers/projects/create.ts
  server/src/controllers/projects/index.ts
  server/src/controllers/utils/errors/projectsControllerErrors.ts
  server/src/index.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/repositories/ProjectsRepo.ts
  server/src/routes/clips.ts
  server/src/routes/projects.ts
Labels: C: 3h, add, server

#35 Add/프로젝트명단api
  server/devlog/2021-01-23.md
  server/src/controllers/projects/getProjects.ts
  server/src/controllers/projects/index.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/repositories/ProjectsRepo.ts
  server/src/routes/projects.ts
Labels: C: 3h, add, server

#37 Fix/projects테이블 변경
  server/devlog/2021-01-23.md
  server/src/controllers/projects/create.ts
  server/src/entity/Projects.ts
  server/src/repositories/ProjectsRepo.ts
Labels: C:0.5h, fix, server

#41 :rocket: [Add] 전체 레이아웃 변경완료
  client/.eslintcache
  client/src/components/atoms/LoginButton.tsx
  client/src/components/pages/App.tsx
  client/src/components/templates/Combine.tsx
  client/src/components/templates/contents/Inbox.tsx
  client/src/components/templates/contents/KanbanBoard.tsx
  client/src/components/templates/contents/PrivateClip.tsx
  client/src/components/templates/contents/PublicClip.tsx
  client/src/components/templates/top/Header.tsx
Labels: E:1h, client, fix

#42 Add/프로젝트 수정 API 작성
  server/devlog/2021-01-24.md
  server/src/controllers/projects/index.ts
  server/src/controllers/projects/update.ts
  server/src/repositories/ProjectsRepo.ts
  server/src/routes/projects.ts
Labels: C: 3h, add, server

#48 Add/delete project api 추가
  server/devlog/2021-01-24.md
  server/devlog/2021-01-25.md
  server/src/controllers/projects/delete.ts
  server/src/controllers/projects/index.ts
  server/src/controllers/utils/errors/projectsControllerErrors.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/repositories/ProjectsRepo.ts
  server/src/routes/projects.ts
Labels: C:2h, add, server

#51 Add/팀원추가api
  client/.eslintcache
  client/.eslintrc
  client/.gitignore
  client/src/components/atoms/AddClip.tsx
  client/src/components/atoms/ClipAddButton.tsx
  client/src/components/atoms/Hello.tsx
  client/src/components/atoms/LoginGoogle.tsx
  client/src/components/atoms/LogoutButton.tsx
  client/src/components/templates/contents/PublicClip.tsx
  client/src/components/templates/top/Header.tsx
  client/src/hooks/useLogin.tsx
  client/src/hooks/useModal.tsx
  server/devlog/2021-01-24.md
  server/devlog/2021-01-25.md
  server/devlog/2021-01-26.md
  server/src/controllers/projects/delete.ts
  server/src/controllers/projects/index.ts
  server/src/controllers/projects/invite.ts
  server/src/controllers/users/signin.ts
  server/src/controllers/utils/errors/projectsControllerErrors.ts
  server/src/entity/Users.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/repositories/ProjectsRepo.ts
  server/src/routes/projects.ts
Labels: C: 3h, add, server

#53 Add/프로젝트 명단 조회 API 작성
  server/devlog/2021-01-26.md
  server/src/controllers/projects/getUsers.ts
  server/src/controllers/projects/index.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/routes/projects.ts
Labels: C:2h, add, server

#54 :rocket: [Add] 인피니티 스크롤 50 %
  client/.eslintcache
  client/.gitignore
  client/src/components/templates/top/Header.tsx
  client/tsconfig.json
Labels: C:2h, add

#58 Add/팀원추방 API 작성
  server/devlog/2021-01-27.md
  server/src/controllers/projects/index.ts
  server/src/controllers/projects/kickTeam.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/routes/projects.ts
Labels: C:2h, add, server

#59 Add/권한수정 API 작성
  server/devlog/2021-01-27.md
  server/devlog/2021-01-28.md
  server/src/controllers/projects/editPermission.ts
  server/src/controllers/projects/index.ts
  server/src/repositories/ProjectPermissionRepo.ts
  server/src/routes/projects.ts
Labels: C:2h, add, server

#64 Add/clip목록불러오기
  server/devlog/2021-01-28.md
  server/src/controllers/clips/getPrivateLists.ts
  server/src/controllers/clips/getPublicLists.ts
  server/src/controllers/clips/index.ts
  server/src/repositories/ClipRepo.ts
  server/src/routes/clips.ts
Labels: C:2h, add, server

#69 [Add] clip edit api
  server/devlog/2021-01-28.md
  server/src/controllers/clips/delete.ts
  server/src/controllers/clips/edit.ts
  server/src/controllers/clips/index.ts
  server/src/repositories/ClipRepo.ts
  server/src/routes/clips.ts
Labels: C:2h, add, server

#62 [Add] data 화면 랜더링
  client/.eslintcache
  client/src/components/templates/contents/Inbox.tsx
  client/src/components/templates/contents/KanbanBoard.tsx
  client/src/components/templates/contents/PrivateClip.tsx
  client/src/components/templates/contents/PublicClip.tsx
  client/src/components/templates/top/Header.tsx
Labels: C:0.5h

#70 [Add] clip delete api
  server/devlog/2021-01-29.md
  server/src/controllers/clips/delete.ts
  server/src/controllers/clips/index.ts
  server/src/controllers/clips/temp.ts
  server/src/repositories/ClipRepo.ts
  server/src/routes/clips.ts
Labels: C:4h, add, server

#73 Fix/private clip
  server/devlog/2021-01-30.md
  server/src/controllers/clips/index.ts
  server/src/controllers/privateClips/createClip.ts
  server/src/controllers/privateClips/delClip.ts
  server/src/controllers/privateClips/editClip.ts
  server/src/controllers/privateClips/getAllClips.ts
  server/src/controllers/privateClips/getClip.ts
  server/src/controllers/privateClips/index.ts
  server/src/controllers/privateClips/moveClip.ts
  server/src/controllers/privateClips/tmp.ts
  server/src/controllers/utils/errors/privateClipsErrors.ts
  server/src/entity/PrivateClips.ts
  server/src/entity/Projects.ts
  server/src/entity/Users.ts
  server/src/repositories/ClipRepo.ts
  server/src/repositories/PrivateClipRepo.ts
  server/src/routes/clips.ts
Labels: C:4h, add, fix, server

#76 Add/section
  server/devlog/2021-01-30.md
  server/src/controllers/sections/createSection.ts
  server/src/controllers/sections/delSection.ts
  server/src/controllers/sections/editSection.ts
  server/src/controllers/sections/index.ts
  server/src/controllers/sections/moveSection.ts
  server/src/controllers/sections/tmp.ts
  server/src/index.ts
  server/src/repositories/PublicClipRepo.ts
  server/src/repositories/SectionRepo.ts
  server/src/routes/sections.ts
Labels: C:4h, add, server

#77 Add/all scroll
  client/.eslintcache
  client/src/components/templates/contents/Inbox.tsx
  client/src/components/templates/contents/KanbanBoard.tsx
  client/src/components/templates/contents/PrivateClip.tsx
  client/src/components/templates/contents/PublicClip.tsx
  client/src/components/templates/top/Header.tsx
Labels: C:2h

#81 :rocket: [Add] 프로젝트 생성 모달 완료
  client/.eslintcache
  client/package-lock.json
  client/package.json
  client/src/components/atoms/CreateProject.tsx
  client/src/components/templates/top/Header.tsx
  client/src/index.tsx
  client/tsconfig.json
Labels: C:2h, add, client

#82 Add/task
  server/devlog/2021-01-31.md
  server/src/controllers/labels/create.ts
  server/src/controllers/labels/delete.ts
  server/src/controllers/labels/edit.ts
  server/src/controllers/labels/index.ts
  server/src/controllers/labels/readAll.ts
  server/src/controllers/projects/getTasksByProject.ts
  server/src/controllers/projects/index.ts
  server/src/controllers/sections/getSections.ts
  server/src/controllers/sections/index.ts
  server/src/controllers/tasks/addAssignee.ts
  server/src/controllers/tasks/addComment.ts
  server/src/controllers/tasks/addLabel.ts
  server/src/controllers/tasks/changeMarkCom.ts
  server/src/controllers/tasks/comment.ts
  server/src/controllers/tasks/createTask.ts
  server/src/controllers/tasks/delAssignee.ts
  server/src/controllers/tasks/delComment.ts
  server/src/controllers/tasks/delLabel.ts
  server/src/controllers/tasks/delTask.ts
  server/src/controllers/tasks/editCommnet.ts
  server/src/controllers/tasks/editTask.ts
  server/src/controllers/tasks/getTasksByAssignee.ts
  server/src/controllers/tasks/getTasksBylike.ts
  server/src/controllers/tasks/index.ts
  server/src/controllers/tasks/like.ts
  server/src/controllers/tasks/moveInSeciton.ts
  server/src/controllers/tasks/moveOutSection.ts
  server/src/controllers/tasks/readOne.ts
  server/src/controllers/tasks/unlike.ts
  server/src/entity/Comments.ts
  server/src/entity/Tasks.ts
  server/src/index.ts
  server/src/repositories/CommnetRepo.ts
  server/src/repositories/LabelRepo.ts
  server/src/repositories/LikeRepo.ts
  server/src/repositories/ProjectsRepo.ts
  server/src/repositories/SectionRepo.ts
  server/src/repositories/TasksRepo.ts
  server/src/routes/labels.ts
  server/src/routes/projects.ts
  server/src/routes/sections.ts
  server/src/routes/tasks.ts
Labels: C:10h, add, server
